:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --button-color: #188ce8;
  --logo-color: #000000;
  --background-color-footer: rgba(255, 255, 255, 0.1);
  --clients-link-color: #afb1b8;
  /* --card-set-gap: 30px; */
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--primary-white-color);
}
.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.pointer {
  cursor: pointer;
}
.hero-button:hover {
  cursor: pointer;
}
.filter-button:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* header */
.header {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
}
.header-menu {
  display: flex;
  gap: 50px;
  margin-left: 65px;
}

/* .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* logo */
.logo,
.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  padding: 24px 0;
}
.logo-part {
  color: var(--logo-color);
  text-decoration: none;
}

/* site nav */
.site-nav .link {
  color: var(--title-text-color);
  padding: 32px 0;
}
.link {
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}

/* auth nav */
.auth-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.auth-nav-item {
  display: block;
  align-items: center;
}
.contact-link {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.auth-nav-icon {
  margin-right: 10px;
}

.auth-nav .contact-link {
  color: var(--title-text-color);
  padding: 32px 0;
}
.contact-link {
  text-decoration: none;
}
.auth-nav .contact-link:hover,
.auth-nav .contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/heroimage.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-white-color);
}
.overlay {
  padding: 200px 0;
}

.hero-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.hero-button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  margin: 0 auto;
  text-align: center;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* advantages */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.advantage-item {
  flex-basis: calc((100% - 90px) / 4);
}

.icon-container {
  height: 120px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
}

.advantage-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advantage-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* tasks */
.tasks-section {
  padding-top: 0;
}
.tasks-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.tasks {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.task-item {
  flex-basis: calc((100% - 60px) / 3);
}
/* team */
.our-team {
  background-color: var(--secondary-background-color);
  text-align: center;
}
.team-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.team-item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.block {
  padding: 30px 30px;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.member-speciality {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.net-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* .net-item {
} */

.net-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-white-color);
  border-radius: 50%;
  fill: var(--primary-text-color);
}

.net-link:hover {
  background-color: var(--accent-color);
}
.net-link:focus {
  background-color: var(--accent-color);
}
.net-link:hover .net-icon {
  fill: var(--primary-white-color);
}
.net-link:focus .net-icon {
  fill: var(--primary-white-color);
}
/* our clients */

.clients {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--clients-link-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  fill: var(--clients-link-color);
}

.clients-link:hover {
  border: 1px solid var(--accent-color);
}
.clients-link:focus {
  border: 1px solid var(--accent-color);
}
.clients-link:hover .clients-icon {
  fill: var(--accent-color);
}
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* footer */
.container-footer {
  display: flex;
  gap: 70px;
}
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-part-footer {
  color: var(--primary-white-color);
}
/* address */
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.address-link {
  color: var(--primary-white-color);
  text-decoration: none;
  margin-bottom: 9px;
}
.contact-link {
  color: var(--secondary-text-color);
  margin-bottom: 9px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list .address-link:hover,
.address-list .address-link:focus {
  color: var(--accent-color);
}
.address-list .contact-link:hover,
.address-list .contact-link:focus {
  color: var(--accent-color);
}
.net-links {
  padding-top: 10px;
}
.footer-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.join {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.footer-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color-footer);
  border-radius: 50%;
  fill: var(--primary-white-color);
}

.footer-link:hover {
  background-color: var(--accent-color);
}
.footer-link:focus {
  background-color: var(--accent-color);
}

/* .footer-link:hover .footer-icon {
  fill: #ffffff;
} */

/* portfolio */
/* filter */

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
}
.filter-list .filter-button:hover,
.filter-list .filter-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* projects */

/* .projects-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
  flex-wrap: wrap;
} */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 60px);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.block-project {
  padding: 20px 24px;
}
.project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.project-desc {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
